[Unit]
Description=respondd (respondd Status for Servers)
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/ffho-respondd
ExecStart=/opt/ffho-respondd/ext-respondd.py

[Install]
WantedBy=multi-user.target
